<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/popouts/confirmPopout.css" />
        <link rel="stylesheet" href="/css/popouts/usercard.css" />
        <script src="/scripts/user.js" defer></script>

        <link rel="stylesheet" href="css/header.css" />
        <link rel="stylesheet" href="css/emotes.css" />
        <link rel="stylesheet" href="css/input.css" />

        <link rel="icon" href="/assets/TF_logo.png" />
        <script src="/scripts/popout.js" defer></script>
        <script src="/scripts/login.js" defer></script>

        <title>Emotes - Tomfoolery</title>
    </head>
    <body>
        <header><%- include('partials/header.ejs'); %></header>

        <div class="emotes-container">
            <form action="emotes/vote" method="POST" class="emotes-form">
                <span><%- include('partials/popout.ejs') %> </span>

                <% for(let i=0; i < emotesList.length; i++) { %>
                <label for="<%= emotesList[i].name %>">
                    <input
                        type="radio"
                        name="emoteVoted"
                        id="<%= emotesList[i].name %>"
                        value="<%= emotesList[i].name %>"
                    />
                    <img
                        src="<%= emotesList[i].link %>"
                        alt="<%= emotesList[i].name %>"
                    />
                    <p><%= emotesList[i].name %></p>
                </label>
                <% } %>
            </form>
            <%- include('partials/voted.ejs') %>
        </div>
    </body>
</html>
