<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/popouts/usercard.css" />
        <link rel="stylesheet" href="/css/halloffame.css" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link rel="icon" href="/assets/TF_logo.png" />
        <script src="/scripts/login.js" defer></script>
        <script src="/scripts/user.js" defer></script>
        <title>Hall of fame - tomfoolery</title>
    </head>
    <body>
        <header><%- include('partials/header.ejs'); %></header>
        <div class="hof-container">
            <form method="GET" action="halloffame" class="month">
                <select name="meses" id="meses">
                    <option value="agosto" class="option" id="august">
                        agosto
                    </option>
                    <option value="setembro" class="option" id="september">
                        setembro
                    </option>
                    <option value="outubro" class="option" id="october" selected>
                        outubro
                    </option>
                </select>
                <button type="submit" class="material-icons" id="search">
                    search
                </button>
            </form>
            <div class="winnerClip">
                <h1 id="clipText">Clipe ganhador</h1>
                <img
                    src="/assets/trofeu_icon.png"
                    id="trophyClip"
                    alt="trophy"
                />
                <iframe
                    src="https://clips.twitch.tv/embed?clip=<%= clipe %>&parent=tomfoolery.herokuapp.com"
                    frameborder="0"
                    id="clipe"
                ></iframe>
            </div>

            <div class="winnerEmote">
                <img
                    src="/assets/trofeu_icon.png"
                    id="trophyEmote"
                    alt="trophy"
                />
                <h1 id="emoteText">Emote ganhador</h1>
                <img src="<%= emote %>" alt="winner_clipe" id="emote" />
                    <p id="winnerText"><%= name %></p>
            </div>
            <script>
                const august = document.getElementById("august")
                const september = document.getElementById("september")
                const october = document.getElementById("october")
                switch("<%= monthSelected %>") {
                    case "agosto":
                        august.setAttribute("selected", "agosto")
                        console.log("tnasds")
                        break
                    case "setembro":
                        september.setAttribute("selected", "setembro")
                        console.log("hi")
                        break
                    case "outubro":
                        october.setAttribute("selected", "outubro")
                        console.log("hello")
                        break
                }
            </script>
        </div>
    </body>
</html>
