<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/css/dashboard/resultados.css"
        />
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
        <link rel="stylesheet" type="text/css" href="/css/addEmotes.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/header.css" />
        <link rel="stylesheet" href="/css/popouts/usercard.css" />
        <script src="/scripts/user.js" defer></script>
        <script src="/scripts/emote_add.js" defer></script>
        <script src="/scripts/resultados.js"></script>

        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link rel="icon" href="/assets/TF_logo.png" />

        <title>Resultados - Tomfoolery</title>
    </head>
    <body>
        <header><%- include('partials/header.ejs') %></header>
        <div class="resultsContainer">
            <div class="emotes">
                <table>
                    <tr class="names">
                        <th>Emotes</th>
                        <th>Número de votos</th>
                    </tr>
                    <% for(let i=0; i < emotes.length; i++) { %>
                    <tr>
                        <td id="count">
                            <div class="backgroundCount">
                                <img src="<%=emotes[i].link%>" class="emote" alt="" />
                                <p class="emoteName"><%= emotes[i].name %></p>
                            </div>
                        </td>
                        <td id="count"><%= emotes[i].count %></td>
                    </tr>
                    <% } %>
                    <tr></tr>
                </table>
            </div>
            <div class="clipes">
                <table class="clipesTable">
                    <tr>
                        <th id="clipe">Clipes</th>
                        <th id="countClipe">Números de votos</th>
                    </tr>
                    <% for(var i=0; i < clipes.length; i++) { %>

                    <tr>
                        <td id="clipes">
                            <p id="clipName"><%= clipes[i].name %></p>
                        </td>
                        <td id="countClip"><%= clipes[i].count %></td>
                    </tr>

                    <% } %>
                </table>
            </div>
            <div class="clipes"><%- include('dashboard/sidebar.ejs') %></div>
        </div>
    </body>
</html>
